.backdrop-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(17,17,27,1) 0%, rgba(19,19,33,1) 7%, rgba(20,20,33,1) 15%, rgba(32,32,35,1) 27%, rgba(39,47,55,0.006061799719887961) 100%, rgba(180,187,188,1) 100%);
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #343232ab #f8f6f608;
}