<div class="bg-black w-screen h-screen">
	<div class="flex justify-center items-center h-full">
		<div class="content text-white" id="loadingContent">
			<div id="codeleap" class="text-[50px] font-bold flex gap-1 items-center">
				<span class="char left">C</span>
				<span class="char left">O</span>
				<span class="char left">D</span>
				<span class="char left">E</span>
				<span class="dash">_</span>
				<span class="char right">L</span>
				<span class="char right">E</span>
				<span class="char right">A</span>
				<span class="char right">P</span>
			</div>
			<div class="text-right movie text-lg mt-[-15px] tracking-wider">.movie</div>
		</div>
	</div>
</div>
