@if (!loading) {
<div class="bg-black">
	<!-- backdrop section -->
	<div class="relative h-screen">
		<app-movie-backdrop [movie]="topRated" />
		<div class="p-10 space-y-4 bg-black">
			<div id="popular">
				<div class="flex justify-between text-white w-full mb-3">
					<p class="text-xl">Popular</p>
					<p class="underline cursor-pointer">See alls</p>
				</div>
				<div class="flex gap-4 max-w-[100vw] overflow-auto custom-scroll py-2">
					@for (m of popularList; track m.id) {
					<app-movie-card [movie]="m"></app-movie-card>
					}
				</div>
			</div>
			<div id="topRated">
				<div class="flex justify-between text-white w-full mb-3">
					<p class="text-xl">Top rated</p>
					<p class="underline cursor-pointer">See alls</p>
				</div>
				<div class="flex gap-4 max-w-[100vw] overflow-auto custom-scroll py-2">
					@for (m of topRatedList; track m.id) {
					<app-movie-card [movie]="m"></app-movie-card>
					}
				</div>
			</div>
			<div id="upComing">
				<div class="flex justify-between text-white w-full mb-3">
					<p class="text-xl">Up coming</p>
					<p class="underline cursor-pointer">See alls</p>
				</div>
				<div class="flex gap-4 max-w-[100vw] overflow-auto custom-scroll py-2">
					@for (m of upcomingList; track m.id) {
					<app-movie-card [movie]="m"></app-movie-card>
					}
				</div>
			</div>
		</div>
	</div>
</div>

} @else {
<app-loading />
}
