<div class="overflow-hidden bg-black p-10">
  <div
    id="aboutContainer"
    class="flex h-[350px] items-center w-[200vw] relative pt-20"
  >
    <div class="w-screen relative h-full">
      <div class="-rotate-6 space-y-1 absolute left-5 top-4">
        <div
          class="bg-rose-600 rounded-lg text-lg px-3 py-1 text-white top-2 w-fit"
        >
          Enjoy on your movie
        </div>
        <div
          class="bg-purple-500 rounded-lg text-lg px-3 py-1 text-white w-fit"
        >
          Unlimited movies
        </div>
      </div>
      <div
        class="text-white text-xl text-balance max-w-[500px] absolute left-[30%] top-[40%]"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
        cupiditate eos, dolores nulla omnis in obcaecati amet doloremque
      </div>
      <div class="absolute right-[10%] h-full w-[30%]">
        <svg
          id="shape1"
          width="62"
          height="72"
          viewBox="0 0 52 62"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="timer absolute left-5 top-[20%]"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M29.2532 28.1943C27.7212 29.751 27.7212 32.249 29.2532 33.8057L50.3023 55.1943C52.7911 57.7232 50.9996 62 47.4513 62H26H4.54865C1.00044 62 -0.79113 57.7232 1.69768 55.1943L22.7468 33.8057C24.2788 32.249 24.2788 29.7511 22.7468 28.1943L1.69769 6.80572C-0.791119 4.27676 1.00044 5.24575e-07 4.54865 8.34769e-07L26 2.71011e-06L47.4514 4.58544e-06C50.9996 4.89564e-06 52.7911 4.27676 50.3023 6.80572L29.2532 28.1943Z"
            fill="url(#paint0_linear_2080_57096)"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M29.2532 28.1943C27.7212 29.751 27.7212 32.249 29.2532 33.8057L50.3023 55.1943C52.7911 57.7232 50.9996 62 47.4513 62H26H4.54865C1.00044 62 -0.79113 57.7232 1.69768 55.1943L22.7468 33.8057C24.2788 32.249 24.2788 29.7511 22.7468 28.1943L1.69769 6.80572C-0.791119 4.27676 1.00044 5.24575e-07 4.54865 8.34769e-07L26 2.71011e-06L47.4514 4.58544e-06C50.9996 4.89564e-06 52.7911 4.27676 50.3023 6.80572L29.2532 28.1943Z"
            fill="url(#pattern-home-animate-timer-0)"
          ></path>
          <defs>
            <pattern
              id="pattern-home-animate-timer-0"
              patternContentUnits="objectBoundingBox"
              width="8.06452"
              height="8.06452"
            >
              <use xlink:href="#svg-noise" transform="scale(0.016129)"></use>
            </pattern>
            <linearGradient
              id="paint0_linear_2080_57096"
              x1="-7.77612"
              y1="17.8134"
              x2="63.2463"
              y2="31"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.0242443" stop-color="#EDBEFF"></stop>
              <stop offset="0.84375" stop-color="#8E78DA"></stop>
            </linearGradient>
          </defs>
        </svg>
        <svg
          id="shape"
          width="60"
          height="60"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="diamond absolute left-[50%]"
          aria-hidden="true"
          style="
            translate: none;
            rotate: none;
            scale: none;
            transform: translate(0px, 0px);
          "
        >
          <path
            d="M27.1716 1.82843C28.7337 0.266333 31.2663 0.26633 32.8284 1.82843L58.1716 27.1716C59.7337 28.7337 59.7337 31.2663 58.1716 32.8284L32.8284 58.1716C31.2663 59.7337 28.7337 59.7337 27.1716 58.1716L1.82843 32.8284C0.266333 31.2663 0.26633 28.7337 1.82843 27.1716L27.1716 1.82843Z"
            fill="url(#paint0_linear_2080_57095)"
          ></path>
          <path
            d="M27.1716 1.82843C28.7337 0.266333 31.2663 0.26633 32.8284 1.82843L58.1716 27.1716C59.7337 28.7337 59.7337 31.2663 58.1716 32.8284L32.8284 58.1716C31.2663 59.7337 28.7337 59.7337 27.1716 58.1716L1.82843 32.8284C0.266333 31.2663 0.26633 28.7337 1.82843 27.1716L27.1716 1.82843Z"
            fill="url(#pattern-home-animate-diamond-0)"
            fill-opacity="0.6"
            style="mix-blend-mode: multiply"
          ></path>
          <defs>
            <pattern
              id="pattern-home-animate-diamond-0"
              patternContentUnits="objectBoundingBox"
              width="3.22581"
              height="3.22581"
            >
              <use xlink:href="#svg-noise" transform="scale(0.00645161)"></use>
            </pattern>
            <linearGradient
              id="paint0_linear_2080_57095"
              x1="-35.7015"
              y1="-8.17164"
              x2="74.4179"
              y2="35.0896"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.427083" stop-color="#FF8709"></stop>
              <stop offset="0.791667" stop-color="#F7BDF8"></stop>
            </linearGradient>
          </defs>
        </svg>
        <svg
          id="flower"
          width="200"
          height="200"
          viewBox="0 0 248 248"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="flower absolute bottom-0 right-0"
          aria-hidden="true"
          style="
            translate: none;
            rotate: none;
            scale: none;
            transform: translate(0px, 0px);
          "
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M62 124C27.7583 124 0 151.758 0 186C0 220.242 27.7583 248 62 248C96.2417 248 124 220.242 124 186C124 220.242 151.758 248 186 248C220.242 248 248 220.242 248 186C248 151.758 220.242 124 186 124C220.242 124 248 96.2417 248 62C248 27.7583 220.242 0 186 0C151.758 0 124 27.7583 124 62C124 27.7583 96.2417 0 62 0C27.7583 0 0 27.7583 0 62C0 96.2417 27.7583 124 62 124Z"
            fill="url(#paint0_radial_2080_56318)"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M62 124C27.7583 124 0 151.758 0 186C0 220.242 27.7583 248 62 248C96.2417 248 124 220.242 124 186C124 220.242 151.758 248 186 248C220.242 248 248 220.242 248 186C248 151.758 220.242 124 186 124C220.242 124 248 96.2417 248 62C248 27.7583 220.242 0 186 0C151.758 0 124 27.7583 124 62C124 27.7583 96.2417 0 62 0C27.7583 0 0 27.7583 0 62C0 96.2417 27.7583 124 62 124Z"
            fill="url(#paint1_radial_2080_56318)"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M62 124C27.7583 124 0 151.758 0 186C0 220.242 27.7583 248 62 248C96.2417 248 124 220.242 124 186C124 220.242 151.758 248 186 248C220.242 248 248 220.242 248 186C248 151.758 220.242 124 186 124C220.242 124 248 96.2417 248 62C248 27.7583 220.242 0 186 0C151.758 0 124 27.7583 124 62C124 27.7583 96.2417 0 62 0C27.7583 0 0 27.7583 0 62C0 96.2417 27.7583 124 62 124Z"
            fill="url(#pattern-home-animate-flower-0)"
            fill-opacity="0.6"
            style="mix-blend-mode: multiply"
          ></path>
          <defs>
            <pattern
              id="pattern-home-animate-flower-0"
              patternContentUnits="objectBoundingBox"
              width="0.403226"
              height="0.403226"
            >
              <use xlink:href="#svg-noise" transform="scale(0.000806452)"></use>
            </pattern>
            <radialGradient
              id="paint0_radial_2080_56318"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(76.3114 176.859) rotate(-90) scale(194.26 195.353)"
            >
              <stop stop-color="#E193FF"></stop>
              <stop offset="0.6721" stop-color="#8E78DA"></stop>
              <stop offset="0.7378" stop-color="#937DDB"></stop>
              <stop offset="0.8164" stop-color="#A28BDD"></stop>
              <stop offset="0.9014" stop-color="#BAA3E2"></stop>
              <stop offset="0.9905" stop-color="#DBC3E7"></stop>
              <stop offset="1" stop-color="#DFC7E8"></stop>
            </radialGradient>
            <radialGradient
              id="paint1_radial_2080_56318"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(-27 234) rotate(-68.2758) scale(275.572 434.122)"
            >
              <stop stop-color="#FFE2F2"></stop>
              <stop offset="0.609375" stop-color="#FFADDA"></stop>
              <stop offset="0.776042" stop-color="#FF7CC5"></stop>
              <stop offset="0.911458" stop-color="#FF71BF"></stop>
              <stop offset="1" stop-color="#F84FAC"></stop>
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>

    <div
      class="flex gap-1 w-screen text-6xl text-white relative h-full items-center"
    >
      <img
        src="assets/imgs/popcorn.png"
        alt=""
        class="absolute left-3 top-0 opacity-50 logo"
        width="50"
      />
      <img
        src="assets/imgs/donut.png"
        alt=""
        class="absolute left-[50%] top-5 opacity-50 logo"
      />
      <img
        src="assets/imgs/movie.png"
        alt=""
        class="absolute right-0 top-6 opacity-50 logo"
        width="60"
      />
      <img
        src="assets/imgs/movie-2.png"
        alt=""
        class="absolute bottom-2 left-3 opacity-50 logo"
      />
      <img
        src="assets/imgs/ice-cream-80.png"
        alt=""
        class="absolute bottom-4 left-[30%] opacity-50 logo"
      />
      <img
        src="assets/imgs/ice-cream-100.png"
        alt=""
        class="absolute bottom-0 right-4 opacity-50 logo"
        width="50"
      />
      <p class="shrink-0" id="enjoy">
        <span id="enjoyWord" class="bg-purple-600 rounded-sm">Enjoy</span> on
        your TV
      </p>
      <p class="shrink-0" id="download">
        <span class="bg-red-600 rounded-sm">Download </span>your shows to watch
        offline.
      </p>
      <p class="shrink-0">
        Watch <span class="bg-red-700 rounded-sm">everywhere.</span>
      </p>
      <p class="shrink-0">
        Create profiles for<span class="bg-green-700 rounded-sm"> kids.</span>
      </p>
    </div>
  </div>
</div>
